body{
    font-size: 1rem;
}

header{
    background-color: var(--barra-navegacao);
    color: var(--texto-preto);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

section{
     padding-bottom: 5rem;
}

inicio-fundo{
    background-size: cover;
    background-position: right;

}
button {
    color: white;
    background: rgb(0, 0, 0);
    transition: background 1s;
  }
  
  button:hover,
  button:focus {
    background: 133E87;
  }

