* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    padding: 3%;
    margin: 0 auto;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav .logo {
    font-size: 30px;
    color: rgb(226, 154, 220);
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color: whitesmoke;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    transition: 0.5s;
  }
  
  nav ul li a:hover {
    background-color: rgb(122, 178, 185);
  }
  
  .logo {
    cursor: pointer;
  }
  
  h1 {
    color: whitesmoke;
    margin-top: 150px;
    font-size: 23px;
  }
  
  .btn {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(161, 94, 131);
    border-radius: 20px;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: rgb(78, 128, 175);
  }