* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    padding: 3%;
    margin: 0 auto;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav .logo {
    font-size: 30px;
    color: rgb(226, 154, 220);
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color: rgb(245, 244, 235);
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    transition: 0.5s;
  }
  
  nav ul li a:hover {
    background-color: rgb(122, 178, 185);
  }
  
  .logo {
    cursor: pointer;
  }
  
  h1 {
    color: rgb(0, 0, 0);
    margin-top: 150px;
    font-size: 23px;
  }
  
  .btn {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(161, 94, 131);
    border-radius: 20px;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: rgb(78, 128, 175);
  }
  body{
    background-image: url(https://www.google.com/search?sca_esv=3a618e889b997b30&rlz=1C1RXQR_enBR1148BR1148&q=bts+bichinhos&udm=2&fbs=ABzOT_BYhiZpMrUAF0c9tORwPGlsjfkTCQbVbkeDjnTQtijddBji9NlWFbRgtIhh9CBGrAXB5vpV75gZb_7hNW0d45uMnflur7kUy8QTs0A2FMIi0PXmb_t7YIcYMUokt8zqi8jd4wsOfpeUlPY0E6xxLBBI2rI7nlD-ktr-DggDWq7cd_HMFF9IACuaFHb2ddPIKvCm3D8I6TLu0EU1eTnSi4u93Gy1rg&sa=X&ved=2ahUKEwjbkMfvptqMAxUWLLkGHWi-G24QtKgLegQIEhAB&biw=1600&bih=765&dpr=1#vhid=38nalWtn8vGdyM&vssid=mosaic);
    background-size: cover;
    background-position: rigth bottom;
    background-repeat: no-repeat;
  }